In [41]:
print("Importing libraries...")
import pandas as pd
import sqlalchemy as sql
import sqlite3
print("Finished!")

Importing libraries...
Finished!

\
We begin by loading our csv datasets as dataframes for manipulation.

In [3]:
player_df=pd.read_csv('player_data.csv')
season_df=pd.read_csv('season_data.csv')
team_df=pd.read_csv('team_data.csv')

\
Lets take a look at each of our dataframes before proceeding:

In [4]:
player_df

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON,SEASON_TYPE
0,920,A.C. Green,A.C.,1610612742,DAL,33,83,23,60,0.277,...,36,194,399,155,49,24,5,"9,201,610,612,742",1996-97,Regular
1,243,Aaron McKie,Aaron,1610612765,DET,24,83,48,35,0.578,...,192,248,94,229,168,24,5,"2,431,610,612,765",1996-97,Regular
2,1425,Aaron Williams,Aaron,1610612763,VAN,25,33,4,29,0.121,...,192,224,368,207,219,24,5,"14,251,610,612,763",1996-97,Regular
3,768,Acie Earl,Acie,1610612749,MIL,27,47,14,33,0.298,...,192,293,273,305,219,24,5,"7,681,610,612,749",1996-97,Regular
4,228,Adam Keefe,Adam,1610612762,UTA,27,62,48,14,0.774,...,125,306,78,283,168,24,5,"2,281,610,612,762",1996-97,Regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16690,202083,Wesley Matthews,Wesley,1610612747,LAL,34,6,2,4,0.333,...,81,119,191,143,48,7,5,"2,020,831,610,612,740",2020-21,Playoffs
16691,1626161,Willie Cauley-Stein,Willie,1610612742,DAL,27,6,3,3,0.500,...,132,156,179,144,48,7,5,"16,261,611,610,612,700",2020-21,Playoffs
16692,1630214,Xavier Tillman,Xavier,1610612763,MEM,22,3,1,2,0.333,...,166,197,183,190,48,7,5,"16,302,141,610,612,700",2020-21,Playoffs
16693,1627812,Yogi Ferrell,Yogi,1610612746,LAC,28,3,3,0,1.000,...,187,204,78,215,48,7,5,"16,278,121,610,612,700",2020-21,Playoffs
16694,1630192,Zeke Nnaji,Zeke,1610612743,DEN,20,3,1,2,0.333,...,187,188,92,180,48,7,5,"16,301,921,610,612,700",2020-21,Playoffs

In [5]:
season_df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,SEASON,SEASON_TYPE
0,21996,1610612761,TOR,Toronto Raptors,29601182,4/20/1997,TOR @ BOS,W,240,49,...,25,15,5,5,20,125,31,0,1996-97,Regular
1,21996,1610612738,BOS,Boston Celtics,29601182,4/20/1997,BOS vs. TOR,L,240,33,...,21,3,0,24,22,94,-31,0,1996-97,Regular
2,21996,1610612739,CLE,Cleveland Cavaliers,29601184,4/20/1997,CLE vs. WAS,L,240,34,...,22,8,6,10,20,81,-4,0,1996-97,Regular
3,21996,1610612764,WAS,Washington Bullets,29601184,4/20/1997,WAS @ CLE,W,240,33,...,18,3,5,12,22,85,4,0,1996-97,Regular
4,21996,1610612766,CHH,Charlotte Hornets,29601186,4/20/1997,CHH @ MIL,L,240,37,...,19,8,2,16,17,100,-20,0,1996-97,Regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62755,42020,1610612738,BOS,Boston Celtics,42000111,5/22/2021,BOS @ BKN,L,240,31,...,19,6,12,12,18,93,-11,1,2020-21,Playoffs
62756,42020,1610612742,DAL,Dallas Mavericks,42000171,5/22/2021,DAL @ LAC,W,240,38,...,22,2,3,13,21,113,10,1,2020-21,Playoffs
62757,42020,1610612746,LAC,LA Clippers,42000171,5/22/2021,LAC vs. DAL,L,240,37,...,22,7,7,5,21,103,-10,1,2020-21,Playoffs
62758,42020,1610612748,MIA,Miami Heat,42000121,5/22/2021,MIA @ MIL,L,265,36,...,22,8,3,17,23,107,-2,1,2020-21,Playoffs
62759,42020,1610612749,MIL,Milwaukee Bucks,42000121,5/22/2021,MIL vs. MIA,W,265,42,...,19,11,1,17,18,109,2,1,2020-21,Playoffs

In [6]:
team_df

,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS,SEASON,SEASON_TYPE
0,1610612737,Atlanta Hawks,82,56,26,0.683,48.3,34.3,76.9,0.446,...,11,4,1,27,23,5,10,Atlanta Hawks,1996-97,Regular
1,1610612738,Boston Celtics,82,15,67,0.183,48.5,37.4,85.0,0.440,...,27,29,22,21,5,27,10,Boston Celtics,1996-97,Regular
2,1610612766,Charlotte Hornets,82,54,28,0.659,48.3,36.4,77.3,0.471,...,22,6,6,9,12,11,10,Charlotte Hornets,1996-97,Regular
3,1610612741,Chicago Bulls,82,69,13,0.841,48.1,40.0,84.4,0.473,...,25,2,3,7,1,1,10,Chicago Bulls,1996-97,Regular
4,1610612739,Cleveland Cavaliers,82,42,40,0.512,48.4,33.0,72.8,0.453,...,27,7,19,4,29,12,10,Cleveland Cavaliers,1996-97,Regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137,1610612755,Philadelphia 76ers,7,5,2,0.714,48.0,45.7,88.1,0.519,...,1,8,14,1,1,2,10,Philadelphia 76ers,2020-21,Playoffs
1138,1610612756,Phoenix Suns,8,6,2,0.750,48.0,39.5,83.8,0.472,...,9,5,2,10,11,3,10,Phoenix Suns,2020-21,Playoffs
1139,1610612757,Portland Trail Blazers,6,2,4,0.333,49.7,42.0,88.3,0.475,...,6,7,15,9,4,8,10,Portland Trail Blazers,2020-21,Playoffs
1140,1610612762,Utah Jazz,6,5,1,0.833,48.0,41.3,87.2,0.474,...,3,6,5,4,3,4,10,Utah Jazz,2020-21,Playoffs
1141,1610612764,Washington Wizards,5,1,4,0.200,48.0,40.6,88.6,0.458,...,8,16,16,2,10,15,10,Washington Wizards,2020-21,Playoffs

\
Nice. Let's clean up our `player_df` and `team_df` such that we have matching foreign keys to identify the seasm/season type for each of the entries, thus eliminating the need for two separate identifying columns.

In [7]:
temp_szn = []

for i in range(0, len(player_df.index)):
    if player_df['SEASON'][i] == '1996-97':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(21996)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(41996)
    elif player_df['SEASON'][i] == '1997-98':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(21997)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(41997)
    elif player_df['SEASON'][i] == '1998-99':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(21998)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(41998)
    elif player_df['SEASON'][i] == '1999-00':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(21999)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(41999)
    elif player_df['SEASON'][i] == '2000-01':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22000)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42000)
    elif player_df['SEASON'][i] == '2001-02':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22001)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42001)
    elif player_df['SEASON'][i] == '2002-03':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22002)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42002)
    elif player_df['SEASON'][i] == '2003-04':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22003)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42003)
    elif player_df['SEASON'][i] == '2004-05':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22004)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42004)
    elif player_df['SEASON'][i] == '2005-06':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22005)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42005)
    elif player_df['SEASON'][i] == '2006-07':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22006)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42006)
    elif player_df['SEASON'][i] == '2007-08':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22007)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42007)
    elif player_df['SEASON'][i] == '2008-09':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22008)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42008)
    elif player_df['SEASON'][i] == '2009-10':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22009)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42009)
    elif player_df['SEASON'][i] == '2010-11':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22010)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42010)
    elif player_df['SEASON'][i] == '2011-12':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22011)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42011)
    elif player_df['SEASON'][i] == '2012-13':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22012)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42012)
    elif player_df['SEASON'][i] == '2013-14':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22013)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42013)
    elif player_df['SEASON'][i] == '2014-15':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22014)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42014)
    elif player_df['SEASON'][i] == '2015-16':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22015)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42015)
    elif player_df['SEASON'][i] == '2016-17':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22016)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42016)
    elif player_df['SEASON'][i] == '2017-18':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22017)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42017)
    elif player_df['SEASON'][i] == '2018-19':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22018)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42018)
    elif player_df['SEASON'][i] == '2019-20':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22019)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42019)
    elif player_df['SEASON'][i] == '2020-21':
        if player_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22020)
        if player_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42020)

player_df["SEASON_ID"] = temp_szn

In [8]:
del player_df['SEASON']
del player_df["SEASON_TYPE"]

temp = player_df["SEASON_ID"]
player_df.drop(labels=["SEASON_ID"], axis = 1, inplace = True)
player_df.insert(4, "SEASON_ID", temp)
player_df

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,SEASON_ID,TEAM_ABBREVIATION,AGE,GP,W,L,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,920,A.C. Green,A.C.,1610612742,21996,DAL,33,83,23,60,...,139,251,36,194,399,155,49,24,5,"9,201,610,612,742"
1,243,Aaron McKie,Aaron,1610612765,21996,DET,24,83,48,35,...,177,285,192,248,94,229,168,24,5,"2,431,610,612,765"
2,1425,Aaron Williams,Aaron,1610612763,21996,VAN,25,33,4,29,...,320,182,192,224,368,207,219,24,5,"14,251,610,612,763"
3,768,Acie Earl,Acie,1610612749,21996,MIL,27,47,14,33,...,358,329,192,293,273,305,219,24,5,"7,681,610,612,749"
4,228,Adam Keefe,Adam,1610612762,21996,UTA,27,62,48,14,...,321,286,125,306,78,283,168,24,5,"2,281,610,612,762"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16690,202083,Wesley Matthews,Wesley,1610612747,42020,LAL,34,6,2,4,...,130,76,81,119,191,143,48,7,5,"2,020,831,610,612,740"
16691,1626161,Willie Cauley-Stein,Willie,1610612742,42020,DAL,27,6,3,3,...,130,124,132,156,179,144,48,7,5,"16,261,611,610,612,700"
16692,1630214,Xavier Tillman,Xavier,1610612763,42020,MEM,22,3,1,2,...,97,167,166,197,183,190,48,7,5,"16,302,141,610,612,700"
16693,1627812,Yogi Ferrell,Yogi,1610612746,42020,LAC,28,3,3,0,...,149,196,187,204,78,215,48,7,5,"16,278,121,610,612,700"
16694,1630192,Zeke Nnaji,Zeke,1610612743,42020,DEN,20,3,1,2,...,149,185,187,188,92,180,48,7,5,"16,301,921,610,612,700"

In [9]:
temp_szn = []

for i in range(0, len(team_df.index)):
    if team_df['SEASON'][i] == '1996-97':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(21996)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(41996)
    elif team_df['SEASON'][i] == '1997-98':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(21997)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(41997)
    elif team_df['SEASON'][i] == '1998-99':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(21998)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(41998)
    elif team_df['SEASON'][i] == '1999-00':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(21999)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(41999)
    elif team_df['SEASON'][i] == '2000-01':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22000)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42000)
    elif team_df['SEASON'][i] == '2001-02':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22001)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42001)
    elif team_df['SEASON'][i] == '2002-03':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22002)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42002)
    elif team_df['SEASON'][i] == '2003-04':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22003)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42003)
    elif team_df['SEASON'][i] == '2004-05':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22004)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42004)
    elif team_df['SEASON'][i] == '2005-06':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22005)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42005)
    elif team_df['SEASON'][i] == '2006-07':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22006)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42006)
    elif team_df['SEASON'][i] == '2007-08':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22007)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42007)
    elif team_df['SEASON'][i] == '2008-09':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22008)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42008)
    elif team_df['SEASON'][i] == '2009-10':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22009)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42009)
    elif team_df['SEASON'][i] == '2010-11':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22010)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42010)
    elif team_df['SEASON'][i] == '2011-12':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22011)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42011)
    elif team_df['SEASON'][i] == '2012-13':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22012)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42012)
    elif team_df['SEASON'][i] == '2013-14':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22013)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42013)
    elif team_df['SEASON'][i] == '2014-15':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22014)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42014)
    elif team_df['SEASON'][i] == '2015-16':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22015)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42015)
    elif team_df['SEASON'][i] == '2016-17':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22016)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42016)
    elif team_df['SEASON'][i] == '2017-18':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22017)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42017)
    elif team_df['SEASON'][i] == '2018-19':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22018)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42018)
    elif team_df['SEASON'][i] == '2019-20':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22019)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42019)
    elif team_df['SEASON'][i] == '2020-21':
        if team_df['SEASON_TYPE'][i] == 'Regular':
            temp_szn.append(22020)
        if team_df['SEASON_TYPE'][i] == "Playoffs":
            temp_szn.append(42020)

team_df["SEASON_ID"] = temp_szn

In [10]:
del team_df["SEASON"]
del team_df["SEASON_TYPE"]

temp = team_df["SEASON_ID"]
team_df.drop(labels=["SEASON_ID"], axis = 1, inplace = True)
team_df.insert(2, "SEASON_ID", temp)

team_df

,TEAM_ID,TEAM_NAME,SEASON_ID,GP,W,L,W_PCT,MIN,FGM,FGA,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,1610612737,Atlanta Hawks,21996,82,56,26,0.683,48.3,34.3,76.9,...,7,9,11,4,1,27,23,5,10,Atlanta Hawks
1,1610612738,Boston Celtics,21996,82,15,67,0.183,48.5,37.4,85.0,...,22,2,27,29,22,21,5,27,10,Boston Celtics
2,1610612766,Charlotte Hornets,21996,82,54,28,0.659,48.3,36.4,77.3,...,5,26,22,6,6,9,12,11,10,Charlotte Hornets
3,1610612741,Chicago Bulls,21996,82,69,13,0.841,48.1,40.0,84.4,...,2,7,25,2,3,7,1,1,10,Chicago Bulls
4,1610612739,Cleveland Cavaliers,21996,82,42,40,0.512,48.4,33.0,72.8,...,4,16,27,7,19,4,29,12,10,Cleveland Cavaliers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137,1610612755,Philadelphia 76ers,42020,7,5,2,0.714,48.0,45.7,88.1,...,9,1,1,8,14,1,1,2,10,Philadelphia 76ers
1138,1610612756,Phoenix Suns,42020,8,6,2,0.750,48.0,39.5,83.8,...,6,5,9,5,2,10,11,3,10,Phoenix Suns
1139,1610612757,Portland Trail Blazers,42020,6,2,4,0.333,49.7,42.0,88.3,...,7,13,6,7,15,9,4,8,10,Portland Trail Blazers
1140,1610612762,Utah Jazz,42020,6,5,1,0.833,48.0,41.3,87.2,...,10,13,3,6,5,4,3,4,10,Utah Jazz
1141,1610612764,Washington Wizards,42020,5,1,4,0.200,48.0,40.6,88.6,...,13,16,8,16,16,2,10,15,10,Washington Wizards

\
The final change I want to make is to create primary keys for each of the tables. As of right now, we have unique identifiers in the ```PLAYER_ID```, ```SEASON_ID```, etc, however since each of the tables include multiple seasons as well as season types, the identifiers repeat within the same columns, and thus cannot be our primary keys. To work around this, we will be creating a new column that concatenates the identifier ID with the season ID associated with each entry. For exampl, in the ```team_df``` concatenating ```TEAM_ID``` with ```SEASON_ID``` will ensure that each row entry within our primary key column is in fact unique.

In [14]:
temp_id = []
for i in range(len(player_df.index)):
    id1 = str(player_df['PLAYER_ID'][i])
    id2 = str(player_df['SEASON_ID'][i])
    id1 += id2
    temp_id.append(int(id1))

#Checking for Duplicates
len(temp_id) == len(set(temp_id))

True

In [21]:
player_df['PLAYER_LABEL'] = temp_id
temp = player_df['PLAYER_LABEL']
player_df.drop(labels=['PLAYER_LABEL'], axis = 1, inplace = True)
player_df.insert(0, 'PLAYER_LABEL', temp)

player_df

,PLAYER_LABEL,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,SEASON_ID,TEAM_ABBREVIATION,AGE,GP,W,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,92021996,920,A.C. Green,A.C.,1610612742,21996,DAL,33,83,23,...,139,251,36,194,399,155,49,24,5,"9,201,610,612,742"
1,24321996,243,Aaron McKie,Aaron,1610612765,21996,DET,24,83,48,...,177,285,192,248,94,229,168,24,5,"2,431,610,612,765"
2,142521996,1425,Aaron Williams,Aaron,1610612763,21996,VAN,25,33,4,...,320,182,192,224,368,207,219,24,5,"14,251,610,612,763"
3,76821996,768,Acie Earl,Acie,1610612749,21996,MIL,27,47,14,...,358,329,192,293,273,305,219,24,5,"7,681,610,612,749"
4,22821996,228,Adam Keefe,Adam,1610612762,21996,UTA,27,62,48,...,321,286,125,306,78,283,168,24,5,"2,281,610,612,762"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16690,20208342020,202083,Wesley Matthews,Wesley,1610612747,42020,LAL,34,6,2,...,130,76,81,119,191,143,48,7,5,"2,020,831,610,612,740"
16691,162616142020,1626161,Willie Cauley-Stein,Willie,1610612742,42020,DAL,27,6,3,...,130,124,132,156,179,144,48,7,5,"16,261,611,610,612,700"
16692,163021442020,1630214,Xavier Tillman,Xavier,1610612763,42020,MEM,22,3,1,...,97,167,166,197,183,190,48,7,5,"16,302,141,610,612,700"
16693,162781242020,1627812,Yogi Ferrell,Yogi,1610612746,42020,LAC,28,3,3,...,149,196,187,204,78,215,48,7,5,"16,278,121,610,612,700"
16694,163019242020,1630192,Zeke Nnaji,Zeke,1610612743,42020,DEN,20,3,1,...,149,185,187,188,92,180,48,7,5,"16,301,921,610,612,700"

In [23]:
temp_id = []
for i in range(len(team_df.index)):
    id1 = str(team_df['TEAM_ID'][i])
    id2 = str(team_df['SEASON_ID'][i])
    id1 += id2
    temp_id.append(int(id1))
    
#Checking for Duplicates
len(temp_id) == len(set(temp_id))

True

In [24]:
team_df["TEAM_LABEL"] = temp_id
temp = team_df["TEAM_LABEL"]
team_df.drop(labels=["TEAM_LABEL"], axis = 1, inplace = True)
team_df.insert(0, "TEAM_LABEL", temp)

team_df

,TEAM_LABEL,TEAM_ID,TEAM_NAME,SEASON_ID,GP,W,L,W_PCT,MIN,FGM,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,161061273721996,1610612737,Atlanta Hawks,21996,82,56,26,0.683,48.3,34.3,...,7,9,11,4,1,27,23,5,10,Atlanta Hawks
1,161061273821996,1610612738,Boston Celtics,21996,82,15,67,0.183,48.5,37.4,...,22,2,27,29,22,21,5,27,10,Boston Celtics
2,161061276621996,1610612766,Charlotte Hornets,21996,82,54,28,0.659,48.3,36.4,...,5,26,22,6,6,9,12,11,10,Charlotte Hornets
3,161061274121996,1610612741,Chicago Bulls,21996,82,69,13,0.841,48.1,40.0,...,2,7,25,2,3,7,1,1,10,Chicago Bulls
4,161061273921996,1610612739,Cleveland Cavaliers,21996,82,42,40,0.512,48.4,33.0,...,4,16,27,7,19,4,29,12,10,Cleveland Cavaliers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137,161061275542020,1610612755,Philadelphia 76ers,42020,7,5,2,0.714,48.0,45.7,...,9,1,1,8,14,1,1,2,10,Philadelphia 76ers
1138,161061275642020,1610612756,Phoenix Suns,42020,8,6,2,0.750,48.0,39.5,...,6,5,9,5,2,10,11,3,10,Phoenix Suns
1139,161061275742020,1610612757,Portland Trail Blazers,42020,6,2,4,0.333,49.7,42.0,...,7,13,6,7,15,9,4,8,10,Portland Trail Blazers
1140,161061276242020,1610612762,Utah Jazz,42020,6,5,1,0.833,48.0,41.3,...,10,13,3,6,5,4,3,4,10,Utah Jazz
1141,161061276442020,1610612764,Washington Wizards,42020,5,1,4,0.200,48.0,40.6,...,13,16,8,16,16,2,10,15,10,Washington Wizards

\
For ```seasons_df``` we will concatenate ```SEASON_ID``` with the row index to get ```SEASON_LABEL```

In [32]:
temp_id = []
for i in range(len(season_df.index)):
    id1 = str(i+1)
    id2 = str(season_df['SEASON_ID'][i])
    id1 += id2
    temp_id.append(int(id1))
    
#Checking for Duplicates
len(temp_id) == len(set(temp_id))

True

In [52]:
del season_df["SEASON"]
del season_df["SEASON_TYPE"]

season_df["SEASON_LABEL"] = temp_id
temp = season_df["SEASON_LABEL"]
season_df.drop(labels=["SEASON_LABEL"], axis = 1, inplace = True)
season_df.insert(0, "SEASON_LABEL", temp)


season_df

,SEASON_LABEL,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,121996,21996,1610612761,TOR,Toronto Raptors,29601182,4/20/1997,TOR @ BOS,W,240,...,26,34,25,15,5,5,20,125,31,0
1,221996,21996,1610612738,BOS,Boston Celtics,29601182,4/20/1997,BOS vs. TOR,L,240,...,35,45,21,3,0,24,22,94,-31,0
2,321996,21996,1610612739,CLE,Cleveland Cavaliers,29601184,4/20/1997,CLE vs. WAS,L,240,...,24,36,22,8,6,10,20,81,-4,0
3,421996,21996,1610612764,WAS,Washington Bullets,29601184,4/20/1997,WAS @ CLE,W,240,...,29,46,18,3,5,12,22,85,4,0
4,521996,21996,1610612766,CHH,Charlotte Hornets,29601186,4/20/1997,CHH @ MIL,L,240,...,23,31,19,8,2,16,17,100,-20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62755,6275642020,42020,1610612738,BOS,Boston Celtics,42000111,5/22/2021,BOS @ BKN,L,240,...,29,40,19,6,12,12,18,93,-11,1
62756,6275742020,42020,1610612742,DAL,Dallas Mavericks,42000171,5/22/2021,DAL @ LAC,W,240,...,32,42,22,2,3,13,21,113,10,1
62757,6275842020,42020,1610612746,LAC,LA Clippers,42000171,5/22/2021,LAC vs. DAL,L,240,...,26,39,22,7,7,5,21,103,-10,1
62758,6275942020,42020,1610612748,MIA,Miami Heat,42000121,5/22/2021,MIA @ MIL,L,265,...,39,51,22,8,3,17,23,107,-2,1
62759,6276042020,42020,1610612749,MIL,Milwaukee Bucks,42000121,5/22/2021,MIL vs. MIA,W,265,...,49,64,19,11,1,17,18,109,2,1

In [60]:
#We need to convert GAME_DATE data into a python date object
season_df["GAME_DATE"]=pd.to_datetime(season_df["GAME_DATE"])

season_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62760 entries, 0 to 62759
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SEASON_LABEL       62760 non-null  int64
 1   SEASON_ID          62760 non-null  int64
 2   TEAM_ID            62760 non-null  int64
 3   TEAM_ABBREVIATION  62760 non-null  object
 4   TEAM_NAME          62760 non-null  object
 5   GAME_ID            62760 non-null  int64
 6   GAME_DATE          62760 non-null  datetime64[ns]
 7   MATCHUP            62760 non-null  object
 8   WL                 62758 non-null  object
 9   MIN                62760 non-null  int64
 10  FGM                62760 non-null  int64
 11  FGA                62760 non-null  int64
 12  FG_PCT             62758 non-null  float64
 13  FG3M               62760 non-null  int64
 14  FG3A               62760 non-null  int64
 15  FG3_PCT            62757 non-null  float64
 16  FTM                62760 non-null  int64
 17  FTA                62760 non-null  int64
 18  FT_PCT             62758 non-null  float64
 19  OREB               62760 non-null  int64
 20  DREB               62760 non-null  int64
 21  REB                62760 non-null  int64
 22  AST                62760 non-null  int64
 23  STL                62760 non-null  int64
 24  BLK                62760 non-null  int64
 25  TOV                62760 non-null  int64
 26  PF                 62760 non-null  int64
 27  PTS                62760 non-null  int64
 28  PLUS_MINUS         62760 non-null  int64
 29  VIDEO_AVAILABLE    62760 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(22), object(4)
memory usage: 14.4+ MB

\
Good good good. Now, we begin the process of moving these dataframes into an SQLite database. We first begin by establishing column datatypes for each of our tables, which we will initialize via a dictionary:

In [61]:
player_dtypes = {
    "PLAYER_LABEL": sql.types.BigInteger(),
    "PLAYER_ID": sql.types.Integer(),
    "PLAYER_NAME": sql.types.Text(),
    "NICKNAME": sql.types.Text(),
    "TEAM_ID": sql.types.BigInteger(),
    "SEASON_ID": sql.types.Integer(),
    "TEAM_ABBREVIATION": sql.types.Text(),
    "AGE": sql.types.Integer(),
    "GP": sql.types.Integer(),
    "W": sql.types.Integer(),
    "L": sql.types.Integer(),
    "W_PCT": sql.types.Float(),
    "MIN": sql.types.Float(),
    "FGM": sql.types.Float(),
    "FGA": sql.types.Float(),
    "FG_PCT": sql.types.Float(),
    "FG3M": sql.types.Float(),
    "FG3A": sql.types.Float(),
    "FG3_PCT": sql.types.Float(),
    "FTM": sql.types.Float(),
    "FTA": sql.types.Float(),
    "FT_PCT": sql.types.Float(),
    "OREB": sql.types.Float(),
    "DREB": sql.types.Float(),
    "REB": sql.types.Float(),
    "AST": sql.types.Float(),
    "TOV": sql.types.Float(),
    "STL": sql.types.Float(),
    "BLK": sql.types.Float(),
    "BLKA": sql.types.Float(),
    "PF": sql.types.Float(),
    "PFD": sql.types.Float(),
    "PTS": sql.types.Float(),
    "PLUS_MINUS": sql.types.Float(),
    "NBA_FANTASY_PTS": sql.types.Float(),
    "DD2": sql.types.Integer(),
    "TD3": sql.types.Integer(),
    "GP_RANK": sql.types.Integer(),
    "W_RANK": sql.types.Integer(),
    "L_RANK": sql.types.Integer(),
    "W_PCT_RANK": sql.types.Integer(),
    "MIN_RANK": sql.types.Integer(),
    "FGM_RANK": sql.types.Integer(),
    "FGA_RANK": sql.types.Integer(),
    "FG_PCT_RANK": sql.types.Integer(),
    "FG3M_RANK": sql.types.Integer(),
    "FG3A_RANK": sql.types.Integer(),
    "FG3_PCT_RANK": sql.types.Integer(),
    "FTM_RANK": sql.types.Integer(),
    "FTA_RANK": sql.types.Integer(),
    "FT_PCT_RANK": sql.types.Integer(),
    "OREB_RANK": sql.types.Integer(),
    "DREB_RANK": sql.types.Integer(),
    "REB_RANK": sql.types.Integer(),
    "AST_RANK": sql.types.Integer(),
    "TOV_RANK": sql.types.Integer(),
    "STL_RANK": sql.types.Integer(),
    "BLK_RANK": sql.types.Integer(),
    "BLKA_RANK": sql.types.Integer(),
    "PF_RANK": sql.types.Integer(),
    "PFD_RANK": sql.types.Integer(),
    "PTS_RANK": sql.types.Integer(),
    "PLUS_MINUS_RANK": sql.types.Integer(),
    "NBA_FANTASY_PTS_RANK": sql.types.Integer(),
    "DD2_RANK": sql.types.Integer(),
    "TD3_RANK": sql.types.Integer(),
    "CFID": sql.types.Integer(),
    "CFPARAMS": sql.types.BigInteger()
}

season_dtypes = {
    "SEASON_LABEL": sql.types.BigInteger(),
    "SEASON_ID": sql.types.Integer(),
    "TEAM_ID": sql.types.BigInteger(),
    "TEAM_ABBREVIATION": sql.types.Text(),
    "TEAM_NAME": sql.types.Text(),
    "GAME_ID": sql.types.BigInteger(),
    "GAME_DATE": sql.types.Date(),
    "MATCHUP": sql.types.Text(),
    "WL": sql.types.Text(),
    "MIN": sql.types.Integer(),
    "FGM": sql.types.Integer(),
    "FGA": sql.types.Integer(),
    "FG_PCT": sql.types.Float(),
    "FG3M": sql.types.Integer(),
    "FG3A": sql.types.Integer(),
    "FG3_PCT": sql.types.Float(),
    "FTM": sql.types.Integer(),
    "FTA": sql.types.Integer(),
    "FT_PCT": sql.types.Float(),
    "OREB": sql.types.Integer(),
    "DREB": sql.types.Integer(),
    "REB": sql.types.Integer(),
    "AST": sql.types.Integer(),
    "STL": sql.types.Integer(),
    "BLK": sql.types.Integer(),
    "TOV": sql.types.Integer(),
    "PF": sql.types.Integer(),
    "PTS": sql.types.Integer(),
    "PLUS_MINUS": sql.types.Integer(),
    "VIDEO_AVAILABLE": sql.types.Integer()
}

team_dtypes= {
    "TEAM_LABEL": sql.types.BigInteger(),
    "TEAM_ID": sql.types.BigInteger(),
    "TEAM_NAME": sql.types.Text(),
    "SEASON_ID": sql.types.Integer(),
    "GP": sql.types.Integer(),
    "W": sql.types.Integer(),
    "L": sql.types.Integer(),
    "W_PCT": sql.types.Float(),
    "MIN": sql.types.Float(),
    "FGM": sql.types.Float(),
    "FGA": sql.types.Float(),
    "FG_PCT": sql.types.Float(),
    "FG3M": sql.types.Float(),
    "FG3A": sql.types.Float(),
    "FG3_PCT": sql.types.Float(),
    "FTM": sql.types.Float(),
    "FTA": sql.types.Float(),
    "FT_PCT": sql.types.Float(),
    "OREB": sql.types.Float(),
    "DREB": sql.types.Float(),
    "REB": sql.types.Float(),
    "AST": sql.types.Float(),
    "TOV": sql.types.Float(),
    "STL": sql.types.Float(),
    "BLK": sql.types.Float(),
    "BLKA": sql.types.Float(),
    "PF": sql.types.Float(),
    "PFD": sql.types.Float(),
    "PTS": sql.types.Float(),
    "PLUS_MINUS": sql.types.Float(),
    "GP_RANK": sql.types.Integer(),
    "W_RANK": sql.types.Integer(),
    "L_RANK": sql.types.Integer(),
    "W_PCT_RANK": sql.types.Integer(),
    "MIN_RANK": sql.types.Integer(),
    "FGM_RANK": sql.types.Integer(),
    "FGA_RANK": sql.types.Integer(),
    "FG_PCT_RANK": sql.types.Integer(),
    "FG3M_RANK": sql.types.Integer(),
    "FG3A_RANK": sql.types.Integer(),
    "FG3_PCT_RANK": sql.types.Integer(),
    "FTM_RANK": sql.types.Integer(),
    "FTA_RANK": sql.types.Integer(),
    "FT_PCT_RANK": sql.types.Integer(),
    "OREB_RANK": sql.types.Integer(),
    "DREB_RANK": sql.types.Integer(),
    "REB_RANK": sql.types.Integer(),
    "AST_RANK": sql.types.Integer(),
    "TOV_RANK": sql.types.Integer(),
    "STL_RANK": sql.types.Integer(),
    "BLK_RANK": sql.types.Integer(),
    "BLKA_RANK": sql.types.Integer(),
    "PF_RANK": sql.types.Integer(),
    "PFD_RANK": sql.types.Integer(),
    "PTS_RANK": sql.types.Integer(),
    "PLUS_MINUS_RANK": sql.types.Integer(),
    "CFID": sql.types.Integer(),
    "CFPARAMS": sql.types.Text()
}

\
Let's connect to our database, ```NBA_stats.db``` . From there we can move our DataFrames as tables into our database.

In [62]:
engine = sql.create_engine('sqlite:///C:\\Users\\jacob\\nba_project\\database\\NBA_stats.db')

player_df.to_sql('player_stats', con=engine, if_exists='replace', index=False, dtype=player_dtypes)
season_df.to_sql('season_games', con=engine, if_exists='replace', index=False, dtype=season_dtypes)
team_df.to_sql('team_stats', con=engine, if_exists='replace', index=False, dtype=team_dtypes)

Our tables should now be stored in our created database. Let's run some queries just to check if our tables look good.

In [76]:
conn = sqlite3.connect("NBA_stats.db")
c = conn.cursor()


c.execute("SELECT PLAYER_LABEL, PLAYER_NAME, TEAM_ABBREVIATION, PTS FROM player_stats LIMIT 3")
c.fetchall()

[(92021996, 'A.C. Green', 'DAL', 7.2),
 (24321996, 'Aaron McKie', 'DET', 5.2),
 (142521996, 'Aaron Williams', 'VAN', 6.2)]

In [75]:
c.execute("SELECT TEAM_LABEL, TEAM_NAME, SEASON_ID, W_PCT FROM team_stats WHERE SEASON_ID = '42020' LIMIT 7")
c.fetchall()

[(161061273742020, 'Atlanta Hawks', 42020, 0.714),
 (161061273842020, 'Boston Celtics', 42020, 0.2),
 (161061275142020, 'Brooklyn Nets', 42020, 0.857),
 (161061274242020, 'Dallas Mavericks', 42020, 0.429),
 (161061274342020, 'Denver Nuggets', 42020, 0.5),
 (161061274642020, 'LA Clippers', 42020, 0.5),
 (161061274742020, 'Los Angeles Lakers', 42020, 0.333)]

In [77]:
c.execute("SELECT SEASON_LABEL, SEASON_ID, GAME_DATE, MATCHUP, WL FROM season_games WHERE SEASON_ID = '21999' LIMIT 15")
c.fetchall()

[(620721999, 21999, '2000-04-19', 'PHX @ GSW', 'W'),
 (620821999, 21999, '2000-04-19', 'GSW vs. PHX', 'L'),
 (620921999, 21999, '2000-04-19', 'NYK @ BOS', 'L'),
 (621021999, 21999, '2000-04-19', 'BOS vs. NYK', 'W'),
 (621121999, 21999, '2000-04-19', 'CHH vs. MIA', 'W'),
 (621221999, 21999, '2000-04-19', 'MIA @ CHH', 'L'),
 (621321999, 21999, '2000-04-19', 'TOR @ ORL', 'L'),
 (621421999, 21999, '2000-04-19', 'ORL vs. TOR', 'W'),
 (621521999, 21999, '2000-04-19', 'MIN vs. DAL', 'L'),
 (621621999, 21999, '2000-04-19', 'DAL @ MIN', 'W'),
 (621721999, 21999, '2000-04-19', 'DET vs. CHI', 'W'),
 (621821999, 21999, '2000-04-19', 'CHI @ DET', 'L'),
 (621921999, 21999, '2000-04-19', 'LAC @ SEA', 'W'),
 (622021999, 21999, '2000-04-19', 'SEA vs. LAC', 'L'),
 (622121999, 21999, '2000-04-19', 'WAS @ MIL', 'L')]